<link href="{{url_for('static', filename = 'css/home.css')}}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>LAB MANAGEMENT SYSTEM</h1></br>
		<h4>DBMS Mini Project using MYSQL and PYTHON FLASK.</h4>
		</div>
	</div>
	
		<div class="right">
		<h5>Login</h5> 
        <br><br><br>
		<p>Don't have an access? <a href="">Click on Contact button</a> and submit the Query to access the system.</p>
        <br>

		<div class="inputs">
            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="sno" placeholder="System Number">
                <br>
                <input type="text" name="usn" placeholder="USN">
				<br><br><br><br><br>
				<button class="btn btn-primary" type="submit">Login</button>
            </form>
		</div>
			
			<br><br>
		<!--
		<div class="remember-me--forget-password">
			<p>forget password?</p>
		</div>
        -->	
		
	</div>
	
</div>